---
title: Contact Me
layout: default
description: Contact Information
permalink: /contact/
custom_js: contact
---

<div ng-controller="ContactController">
<h1>Contact</h1>
<p>Let's get a discussion started.</p>
<form class="form" ng-submit="sendMessage()">
    <fieldset>
        <div class="row">
            <div class="col-2">
                <label>Name</label>
            </div>
            <div class="col-10">
                <input class="form-input" type="text" name="name" ng-model="name" placeholder="Name" required="true" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label>Email Address</label>
            </div>
            <div class="col-10">
                <input class="form-input" type="text" name="email" ng-model="email" placeholder="Email" required="true" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label>Company</label>
            </div>
            <div class="col-10">
                <input class="form-input" type="text" name="company" ng-model="company" placeholder="Company" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-2">
                <label>Message</label>
            </div>
            <div class="col-10">
                <textarea class="form-input" name="feedback" rows="6" ng-model="message" placeholder="Your message" required="true"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button class="btn btn-go">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
<br>
<p>
<h5>Other ways to contact me:</h5>
<a target="_blank" href="https://twitter.com/cp3dev" class="btn"><i class="fa fa-twitter"></i> Twitter</a>
<a target="_blank" href="http://github.com/cpearson3" class="btn"><i class="fa fa-github"></i> Github</a>
<a target="_blank" href="http://www.linkedin.com/pub/clarence-pearson/37/12a/b13" class="btn"><i class="fa fa-linkedin"></i> LinkedIn</a>
<a target="_top" href="mailto:clarence.pearson3@gmail.com" class="btn btn-default"><i class="fa fa-envelope"></i> Mail</a>
</p>
</div>
